{% extends "showdeals/base.html" %}

{% load static %}

{% block title %}SnapHotSale - Best Hot Deals, Coupons, and More{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/frame.css' %}">
<style>
  .fakeimg {
    height: 100px;
    width: 100px;
    background: #fff;
  }
</style>

<div class="card_blue_header">
  <table cellpadding="0" cellspacing="0" width="100%">
    <tbody>
      <tr>
        <input type="hidden" name="action" value="redirect">
        <td width="10"></td>
        <td align="left" valign="center" width="265px"><a href="http://snaphotsale.com" title="SnapHotSale">
            <img src="{% static 'images/logo.jpg' %}" width="64px" height="32px" border="0"></a></td>
        <td valign="right" align="center" width="384px">
        </td>
        <td align="right" valign="center"><input name="searchquery" type="text" size="16" class="search_input"
            placeholder="search for sale"></td>
        <td width="15"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="card_orange_navigation">
  &nbsp;&nbsp;&nbsp;&nbsp;
  <a href="#">DEALS</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="#">COUPONS</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="#">CONTACT US</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</div>

<table width="950" cellpadding="0" cellspacing="0" align="center">
  <tbody>
    <tr>
      <td valign="top">
        {% if page_obj %}
        {% for deal in page_obj %}
          
          <div class="card_deal">
            <table width="100%" cellpadding="4" cellspacing="0">
              <tbody>
                <tr height="125">
                  <td width="125" align="center" valign="center">
                    {% if deal.image %}
                    <a href="{{ deal.link }}" target="_blank">
                      <img src="{{ deal.image }}" style="max-width: 100px; max-height: 100px">
                    </a>
                    {% else %}
                    <div class="fakeimg">No Image</div>
                    {% endif %}
                  </td>
                  <td width="15"></td>
                  <td>
                    <h4><a href="{{ deal.link }}" target="_blank">{{ deal.title }}</a></h4>
                    {% if deal.price %}
                    <p>
                      <span style="font-size:20px;">Price: &nbsp;${{ deal.price }}</span>
                      <span style="font-size:12px;">&nbsp;&nbsp;&nbsp;(as of &nbsp;{{ deal.timestamp }})</span>
                    </p>
                    {% else %}
                    <p><span style="font-size:20px;">&nbsp;</span></p>
                    {% endif %}
                    <ul class="list-inline">
                      <li class="mr-none" title="" data-toggle="tooltip" data-original-title="Source">
                        <a rel="nofollow noopener" href="{{ deal.source }}" target="_blank">
                          <i class="fa fa-code"></i> From {{deal.retailer}}
                        </a>
                      </li>
                    </ul>
                  </td>
                  <td width="10"></td>
                </tr>
              </tbody>
            </table>
          </div>
        {% endfor %}
        {% else %}
        <p>No Deals by now...</p>
        {% endif %}

        {% if is_paginated %}
        <ul class="pagination" align="right">
          {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
          {% else %}
          <li class="page-item disabled"><span class="page-link">Previous</span></li>
          {% endif %}
          {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
          {% else %}
          <li class="page-item disabled"><span class="page-link">Next</span></li>
          {% endif %}
        </ul>
        {% endif %}
      </td>
      <td width="17"></td>
      <td width="180" align="left" valign="top">
        <div class="card_right">
          <div style="line-height:10px;"><br></div>          
          <span class="right_header">Subscribe for Daily Hottest Sale</span>
          <div style="line-height:10px;"><br></div>
          Never Miss a Deal again!
          <div style="line-height:10px;"><br></div><a href="https://www.snaphotsale.com/subscribe">Subscribe Today!</a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
{% endblock %}